# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Project-related files
# =========================

# Showdown database files - these are saved locally to speed up requests
# https://github.com/Zarel/Pokemon-Showdown/tree/master/data
# https://github.com/Zarel/Pokemon-Showdown-Client/tree/master/data
/data
/mods

# Showdown dex - facilitates parsing Showdown databases
# https://github.com/Zarel/Pokemon-Showdown/tree/master/sim
/utils/dex.js
/utils/dex-data.js

# Sprites
/sprites/*

# Hide log and config files
/logs/*

config.js
/configs

# Unused
/utils/Queue.js
/utils/meme.js
/commands/dex_commands/furretturretsprite.js

/node_modules
