'use strict';

module.exports.token = '';
module.exports.admins = [130830896495329280];
module.exports.elevated = [];

module.exports.prefix = "//";
module.exports.helpCommand = "help";
module.exports.flagPrefix = "--";
module.exports.forcePM = 1500;
module.exports.maxMsgLength = 1950;
module.exports.maxPMs = 10;

module.exports.upgradeChance = 1 / 4;

module.exports.messageOptions = {
  tts: false,
  disableEveryone: true
};

module.exports.logsData = './storage.json';
module.exports.fcData = './fc.json';
module.exports.commandSummary = './commands.txt';
module.exports.serverList = './servers.txt';
module.exports.avatar = 'avatar.png';
module.exports.defaultPresence = {
  'status': 'online',
  'game': `with Slash Commands!`
};

module.exports.defaultGen = 8;
